#topics .topic-image img {
	width: 550px;
	height: 280px;
	object-fit: cover;
}

#topics .topics-list {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 24px;
}

#topics .topics-list li {
	font-family: "Alegraya";
	font-weight: 400;
	font-size: 20px;
	margin: 24px 0;
	position: relative;
}

#topics .topics-list li::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	background: var(--red-color);
	border-radius: 50%;
	left: -24px;
	top: 50%;
	transform: translateY(-50%);
}

#topics .content-container {
	padding: 12px;
	justify-content: space-between;
	align-items: center;
}

#topics .wrapper {
	position: relative;
}

#topics .bg-element-1 {
	position: absolute;
	right: -24px;
	bottom: 0;
}
